@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
*{
	font-family: 'Oxygen', 'Arial', sans-serif;
}
h2{
	font-weight: 700;
}
section .container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 1000px;
	padding: 0;
}
a{
	text-decoration: none;
}
header{
	border-bottom: 2px solid #eee;
	position: relative;
}
.btn-return{
	background-color: #2C3759;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	left: 30px;
	transition: background-color .3s ease-in-out;
}
.btn-return:hover{
	background-color: #F77D44;
}
.btn-return i{
	color: #fff;
	font-size: 1.2rem;
}
.logo-img{
	width: 180px;
}
.dish{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.dish-name{
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.dish-name .name,
.dish-name .price{
	margin-bottom: 0;
	font-size: 18px;
}
.ingredients-dishes small{
	color: #808080;
}
footer p{
	font-size: 1rem !important;
}

@media(max-width: 1200px){
	section .container{
		width: 900px;
	}
}
@media(max-width: 992px){
	section .container{
		width: 700px;
	}
	.dish-name .name,
	.dish-name .price{
		font-size: 1rem;
	}
	
}
@media(max-width: 576px){
	section .container{
		width: 500px;
	}
	.btn-return{
		width: 30px;
		height: 30px;
		top: 15px;
		eft: 20px;
	}
	.btn-return i{
		font-size: 1rem;
	}
}
@media(max-width: 520px){
	section .container{
		width: 400px;
	}
	.dish-name .name,
	.dish-name .price{
		font-size: 15px;
	}
}
@media(max-width: 420px){
	section .container{
		width: 300px;
	}
	.dish-name .name,
	.dish-name .price{
		font-size: 14px;
	}
	.ingredients-dishes small{
		font-size: 12px;
	}
	footer p{
		font-size: 0.8rem !important;
	}
	.btn-return{
		width: 30px;
		height: 30px;
		top: 15px;
		left: 10px;
	}
	.btn-return i{
		font-size: 0.9rem;
	}
}
@media(max-width: 320px){
	section .container{
		width: 290px;
	}
}